sendfile on;
keepalive_timeout 65;

gzip on;
gzip_proxied any;
gzip_types text/css text/plain text/xml application/xml application/javascript application/x-javascript text/javascript application/json
text/x-json;
gzip_vary on;
etag on;

ssl_certificate     /var/lib/acme/tromso.brage.info/fullchain.pem;
ssl_certificate_key /var/lib/acme/tromso.brage.info/key.pem;

ssl_session_cache   shared:SSL:10m;
ssl_session_timeout 3d;

ssl_ciphers 'ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384';
ssl_prefer_server_ciphers on;
ssl_dhparam /etc/nixos/nginx/dhparams.pem;
ssl_protocols TLSv1.2 TLSv1.1 TLSv1;

add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";

#disable_symlinks off;
autoindex on;

server {
  listen 80 default_server;

  server_name tromso.brage.info;

  location / {
    root /home/svein/web/;
    try_files $uri $uri/ =404;
  }

  location /.well-known/acme-challenge/ {
    alias /var/spool/nginx/letsencrypt/.well-known/acme-challenge/;
  }

  location /nginx_status {
    stub_status on;
    access_log off;
    allow 127.0.0.1;
    deny all;
  }
}

server {
  listen 443 ssl spdy default_server;
  server_name tromso.brage.info;

  ssl on;

  location / {
    proxy_pass http://localhost:32400;
  }
}
